body{
  width:60%;
  margin:auto;
}  

#mainmenu{
  text-align:right;
  background-color: chocolate;
  margin-top:20px;
  padding: 10px;
  color:white;
  font-weight: bold;
}

#mainimage{
  width:100%;
}

#WelcometoBekalFortTheLargestFortInKeralahead{
  color:red;
}  
